<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.moas.back.dao.TopWordsMapper" >
  <resultMap id="BaseResultMap" type="com.moas.back.model.TopWords" >
    <id column="wordid" property="wordid" jdbcType="BIGINT" />
    <result column="topid" property="topid" jdbcType="BIGINT" />
    <result column="word" property="word" jdbcType="VARCHAR" />
    <result column="wordtype" property="wordtype" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="visits" property="visits" jdbcType="INTEGER" />
    <result column="count" property="count" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    wordid, topid, word, wordtype, createtime, updatetime, status, visits, count(word) count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.moas.back.model.TopWordsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from top_words
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from top_words
    where wordid = #{wordid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from top_words
    where wordid = #{wordid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.moas.back.model.TopWordsExample" >
    delete from top_words
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.moas.back.model.TopWords" >
    insert into top_words (wordid, topid, word, 
      wordtype, createtime, updatetime, 
      status, visits)
    values (#{wordid,jdbcType=BIGINT}, #{topid,jdbcType=BIGINT}, #{word,jdbcType=VARCHAR}, 
      #{wordtype,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{visits,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.moas.back.model.TopWords" >
    insert into top_words
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wordid != null" >
        wordid,
      </if>
      <if test="topid != null" >
        topid,
      </if>
      <if test="word != null" >
        word,
      </if>
      <if test="wordtype != null" >
        wordtype,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="visits != null" >
        visits,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wordid != null" >
        #{wordid,jdbcType=BIGINT},
      </if>
      <if test="topid != null" >
        #{topid,jdbcType=BIGINT},
      </if>
      <if test="word != null" >
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="wordtype != null" >
        #{wordtype,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="visits != null" >
        #{visits,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.moas.back.model.TopWordsExample" resultType="java.lang.Integer" >
    select count(*) from top_words
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update top_words
    <set >
      <if test="record.wordid != null" >
        wordid = #{record.wordid,jdbcType=BIGINT},
      </if>
      <if test="record.topid != null" >
        topid = #{record.topid,jdbcType=BIGINT},
      </if>
      <if test="record.word != null" >
        word = #{record.word,jdbcType=VARCHAR},
      </if>
      <if test="record.wordtype != null" >
        wordtype = #{record.wordtype,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updatetime != null" >
        updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.visits != null" >
        visits = #{record.visits,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update top_words
    set wordid = #{record.wordid,jdbcType=BIGINT},
      topid = #{record.topid,jdbcType=BIGINT},
      word = #{record.word,jdbcType=VARCHAR},
      wordtype = #{record.wordtype,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      updatetime = #{record.updatetime,jdbcType=TIMESTAMP},
      status = #{record.status,jdbcType=TINYINT},
      visits = #{record.visits,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.moas.back.model.TopWords" >
    update top_words
    <set >
      <if test="topid != null" >
        topid = #{topid,jdbcType=BIGINT},
      </if>
      <if test="word != null" >
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="wordtype != null" >
        wordtype = #{wordtype,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="visits != null" >
        visits = #{visits,jdbcType=INTEGER},
      </if>
    </set>
    where wordid = #{wordid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moas.back.model.TopWords" >
    update top_words
    set topid = #{topid,jdbcType=BIGINT},
      word = #{word,jdbcType=VARCHAR},
      wordtype = #{wordtype,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      visits = #{visits,jdbcType=INTEGER}
    where wordid = #{wordid,jdbcType=BIGINT}
  </update>
  <select id="search" parameterType="com.moas.back.model.TopWords" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    top_words
    <where>
      <if test="wordid!=null">
        AND wordid = #{wordid,jdbcType=BIGINT}
      </if>
      <if test="word!=null and content!=''">
        AND word LIKE '%${word}%'
      </if>
      <if test="wordtype!=null and wordtype!=''">
        AND wordtype = #{wordtype,jdbcType=VARCHAR}
      </if>
      AND status = 1
    </where>
    ORDER BY createtime DESC
  </select>

  <select id="topWordsSearch" parameterType="com.moas.back.model.TopWords" resultMap="BaseResultMap">
    SELECT
    wordid, topid, word, wordtype, max(createtime) createtime, updatetime, status, visits, count(word) count
    FROM
    top_words
    <where>
      <if test="visits!=null and visits>0">
        createtime>=DATE_SUB(now(),INTERVAL #{visits,jdbcType=INTEGER} DAY)
      </if>
      /*AND wordtype != 'n'*/
      AND status = 1
    </where>
    GROUP BY word
    ORDER BY count DESC/*,createtime DESC*/
    LIMIT 100
  </select>
</mapper>